
*.7z
*.application
*.bak
*.cache
*.csproj.user
*.deploy
*.dll
*.exe
*.ini
*.jpg
*.lock
*.lock
*.manifest
*.nupkg
*.p7s
*.pdb
*.pdb
*.pfx
*.png
*.vo
*.vsidx
*.vsidx
*.wav
*.xml
*._
.vs/*
DGRV3TS/bin/*
DGRV3TS/obj/*
DGRV3TS/Properties/PublishProfiles/*
DGRV3TS/publish/*